<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>实现评论发表</title>
		<script type="text/javascript" src="js/vue-2.4.0.js" ></script>
		<link rel="stylesheet" href="css/bootstrap-3.3.7.css" />
	</head>
	<body>
	     <div id="app">
	     	<coml-box @onloadplfun="onloadpl"></coml-box>
	     	<ul class="list-group">
	     		<li class="list-group-item" v-for="user in userList">
	     			<span class="badge">评论人:{{user.name}}</span>
	     			{{user.content}}
	     		</li>
	     	</ul>
	     </div>
	     <template id="templ">
	     	<div>
	     		<div class="form-group">
		     		<label>评论人：</label>
		     		<input type="text" class="form-control" v-model="name" />
		     	</div>
		     	<div class="form-group">
		     		<label>评论内容：</label>
		     		<input type="text" class="form-control" v-model="content" />
		     	</div>
		     	<div class="form-group">
		     		<input type="text" class="btn btn-primary" value="发表评论" @click="fbpl" />
		     	</div>
	     	</div>
	     </template>
	     <script type="text/javascript">
	     	var mycmol={
	     		template:'#templ',
	     		data:function(){
	     			return {
	     				name:'',
	     				content:''
	     			}
	     		},
	     		methods:{
	     			fbpl(){
						//1. 评论数据存到哪里去？？？   存放到了 localStorage 中  localStorage.setItem('cmts', '')
						//2. 先组织出一个最新的评论数据对象
						//3. 想办法，把 第二步中，得到的评论对象，保存到 localStorage 中：
						//3.1 localStorage 只支持存放字符串数据， 要先调用 JSON.stringify 
						//3.2 在保存 最新的 评论数据之前，要先从 localStorage 获取到之前的评论数据（string）， 转换为 一个  数组对象， 然后，把最新的评论， push 到这个数组
						//3.3 如果获取到的 localStorage 中的 评论字符串，为空不存在， 则  可以 返回一个 '[]'  让 JSON.parse 去转换
						//3.4  把 最新的  评论列表数组，再次调用 JSON.stringify 转为  数组字符串，然后调用 localStorage.setItem()
						var mypl={id:Date.now(),name:this.name,content:this.content};
						var list=JSON.parse(localStorage.getItem('cmts')||'[]')   //获取本地内存的评论
						list.unshift(mypl);  //将自己的评论添加到本地内存的评论里面
						localStorage.setItem('cmts',JSON.stringify(list));
						this.name=this.content='';
						this.$emit('onloadplfun');
	     			}
	     		}
	     	}
	     	var vm=new Vue({
	     		el:'#app',
	     		data: {
	     			name:'',
	     			content:'',
	     			userList:[
	     			   {id:Date.now(),name:'李白',content:'天生我材必有用'},
	     			   {id:Date.now(),name:'鲁班',content:'智商250'},
	     			   {id:Date.now(),name:'妲己',content:'羁绊是什么意思'}
	     			]
	     		},
	     		created(){
	     			this.onloadpl();
	     		},
	     		methods:{
	     			onloadpl(){
	     				var list=JSON.parse(localStorage.getItem('cmts')||'[]')   //获取本地内存的评论
	     				this.userList=list;
	     			}
	     		},
	     		components:{
	     			'coml-box':mycmol
	     		}
	     	})
	     </script>
	</body>
</html>
